@use "./breakpoints.scss";
@use "./variables.scss";

.contactPage {
  position: relative;
  top: -40px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;

  @include breakpoints.break("medium") {
    top: -100px;
    gap: 30px;
  }
  @include breakpoints.break("large") {
    top: -150px;
  }

  &__image {
    width: 120px;

    img {
      width: 100%;
    }
  }

  &__text {
    h1 {
      text-align: center;
      font-family: map-get(variables.$font-family, mr-eaves);
      font-size: 1rem;

      @include breakpoints.break("medium") {
        font-size: 1.3rem;
      }
    }
    a {
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }

      @include breakpoints.break("medium") {
        font-size: 1.3rem;
      }
    }
  }
}
