@use "./variables.scss";
@use "./breakpoints.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem auto 0;
  max-width: 1200px;
  padding: 0 30px;

  @include breakpoints.break("medium") {
    padding: 0 50px;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo {
    max-width: 80px;

    @include breakpoints.break("medium") {
      max-width: 120px;
    }
    img {
      width: 100%;
    }
  }

  .navlinks {
    display: none;
    gap: 1.5rem;
    font-weight: 400;

    li {
      list-style-type: none;
    }

    @include breakpoints.break("medium") {
      display: flex;
    }
  }

  .burger {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    cursor: pointer;

    @include breakpoints.break("medium") {
      display: none;
    }

    span {
      width: 30px;
      height: 3px;
      background-color: variables.$blue;
      transform-origin: 4px 0px;
    }
    span:first-child,
    span:nth-child(3) {
      transition: 0.3s;
    }
  }
}

nav.clickedBurger {
  flex-direction: column;
  height: 100vh;

  .navlinks {
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }

  .burger {
    span:first-child {
      transform: rotate(45deg) translate(4px, 1.5px);
      transition: 0.3s;
    }
    span:nth-child(2) {
      visibility: hidden;
    }
    span:nth-child(3) {
      transition: 0.3s;
      transform: rotate(-45deg) translate(0, -1px);
    }
  }
}
