@use "./breakpoints.scss";

.projectPage {
  padding: 0 30px;
  margin-top: 40px;

  @include breakpoints.break("medium") {
    margin-top: 100px;
  }

  @include breakpoints.break("large") {
    margin-top: 150px;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    gap: 45px;

    @include breakpoints.break("medium") {
      flex-direction: row;
      gap: 95px;
    }

    h1 {
      font-size: 1.2rem;
      @include breakpoints.break("medium") {
        font-size: 1.4rem;
      }
    }

    h2 {
      font-size: 0.8rem;
      @include breakpoints.break("medium") {
        font-size: 1rem;
      }
    }

    p {
      margin-top: 30px;

      @include breakpoints.break("medium") {
        margin-top: 40px;
      }
    }
  }
  &__heroimage {
    aspect-ratio: 1/1;

    @include breakpoints.break("medium") {
      max-width: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .projectPage__content {
    display: grid;
    grid-template-columns: 100%;
    max-width: 100%;
    gap: 40px 45px;
    margin-top: 40px;

    @include breakpoints.break("medium") {
      grid-template-columns: 1fr 1fr;
      margin-top: 80px;
    }

    .text:nth-of-type(1) {
      text-align: center;
      align-self: center;
      max-width: 75%;
      justify-self: center;
      grid-row: 1;

      @include breakpoints.break("medium") {
        grid-area: 1 / 2;
      }
    }
    .projectPage__image:nth-of-type(1) {
      grid-row: 2;

      @include breakpoints.break("medium") {
        grid-area: 1;
      }
    }
    .text:nth-of-type(2) {
      font-size: 0.7rem;
      max-width: 300px;
      grid-row: 3;

      @include breakpoints.break("medium") {
        grid-area: 2 / 1 / 2 / 3;
      }
    }

    .projectPage__image:nth-of-type(2) {
      grid-row: 4;

      @include breakpoints.break("medium") {
        grid-area: 3 / 1;
      }
    }
    .projectPage__image:nth-of-type(3) {
      grid-row: 5;

      @include breakpoints.break("medium") {
        grid-area: 3 / 2 / 3 / 3;
      }
    }
    .text:nth-of-type(3) {
      grid-row: 6;

      @include breakpoints.break("medium") {
        grid-area: 4 / 1 / 4 / 3;
      }
    }
    .projectPage__image:nth-of-type(4) {
      grid-row: 7;

      @include breakpoints.break("medium") {
        grid-area: 5 / 1 / 5 / 3;
      }
    }
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
